* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --principal-color: #FF5100;
}

body {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #333;
}

.container-barra-encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.social-container {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    justify-content: end;
    align-items: center;
}

.social-item img {
    width: 32px;
}