* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --principal-color: #FF5100;
    --color-primario: #001F3F;     /* Azul Marino Profundo */
    --color-fondo: #FFFFFF;        /* Blanco Clásico */
    --color-secundario: #4CAF50;   /* Verde Hierba */
    --color-texto: #333333;        /* Gris Acero */
    --color-destacado2: #FFD700;    /* Amarillo Dorado */
    --color-destacado: #DC4900;    /* Amarillo Dorado */
    --color-urgente: #D80000;      /* Rojo Oscuro */
    --color-enlace: #0074E1;       /* Azul Agua */

    --header-height: 3rem;
  
  /*========== Colors ==========*/
  --title-color: #141d2b;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  /*========== Font and typography ==========*/
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
    font-size: 62.5%;
    /* max-width: 1200px; */
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #FAFAFA;
    color: var(--color-texto);
}

a {
    text-decoration: none;
    color: #151515;
}

/* ========== HEADER ========== */

.navbar-section{
    background-color: #FFFFFF;
}
/* 
.navbar-section .separador{
    height: 10px;
    background-color: #DC4900;
} */

.container-barra-encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 70px;
    /* padding: 10px; */
    justify-content: center;
    align-content: center;
    background-color: #00385C;
    border-bottom: #FFFFFF 1px solid;
}

.disponible-247 {
    margin-left: 20px;
    justify-self: start;
    align-self: center;
}

.disponible-247 h2 {
    font-size: 1rem;
    color: var(--body-color);
}

.disponible-247 span{
    color: var(--color-destacado2);
}

.social-container {
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, 40px);
    justify-content: end;
    align-items: center;
}

.social-item i {
    font-size: 1.5rem;
    /* background: #F27000; */
    cursor: pointer;
    color: #fff;
    /* border: #FFFFFF solid 1px; */
    padding: 2px;
    border-radius: 50%;
}

.logo-container{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.img-container img{
  position: relative;
    width: 220px;
    top: 30px;
    z-index: 3;
}

.call-action{
    width: 100%;
    height: 45px;
    display: grid;
    align-content: center;
    justify-content: end;
    margin-bottom: 10px;
}

.buttons-container{
  margin-right: 40px;
}

button{
  border: 1px solid #F27000;
  background: #F27000;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  flex-basis: 50%;
  text-align: center;
  /* border: #F0EFEF 1px solid; */
}


/* EXTRA CSS */


/*========== BASE ==========*/


html{
  scroll-behavior: smooth;
}

ul{
  padding: 0;
  list-style: none;
}

/*========== LAYOUT ==========*/
.bd-container{
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  /* max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3); */
}



.nav_toggle{
    display: grid;
    align-self: center;
    justify-self: end;
    font-size: 1.4rem;
    color: var(--color-destacado);
}


.logo-plumbers{
    display: grid;
    align-self: start;
    justify-self: start;
    font-size: 1rem;
    color: var(--color-destacado);
}

.logo-plumbers a{
    color: var(--color-destacado);
    font-weight: 500;
}


.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0,0,0,.1);
  transition: .3s;
}
/*========== NAV ==========*/
/* .nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

@media screen and (max-width: 968px){
  .nav_menu{
    position: fixed;
    bottom: -100%; /*var(--header-height)*/
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: #FF5100;
    box-shadow: 0 -1px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 0 0;
    z-index: 100;
    transition: .3s;
  }
}


/* .nav_toggle{
  color: var(--color-destacado);
  font-weight: 1rem;
} */


.nav_item{
  text-align: center;
}

.nav_list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color:var(--container-color);
  font-weight: var(--font-medium);
}

.nav_link:hover{
  color: var(--title-color);
}

.nav_icon{
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}
/* Show menu */
.show-menu{
  bottom: var(--header-height);
}

/* Active menu link */
.active-link{
  color: var(--title-color);
}


/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  /* background-color: #FF5100; */
  border-radius: .4rem;
  z-index: 10;
  transition: .4s;
  bottom: 5rem;
  /* visibility: hidden; */
}

.scrolltop_icon{
  font-size: 2.5rem;
  color: var(--color-destacado);
}

/* VIDEO BACKGROUND */

.video-background {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
}

.content {
  width: 100%;
  height: 500px;
  max-height: 500px;
  position: absolute;
  display: grid;
  height: 500px;
  align-content: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content h2{
  font-size: 5rem;
}

/* SERVICES */

.services-container{
  display: grid;
  justify-content: center;
  align-content: center;
}

.services-container h2{
  font-size: 1.5rem;
  text-align: center;
}

.all-services-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  text-align: center;
}

.service1{
  height: 40px;
  width: 120px;
}

.footer{
  margin-bottom: 120px;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px) {
  .nav_list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem;
  }
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px){

  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .l-header{
    display: none;
  }

}
